<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="com.bairock.iot.hamaCenter.mapper.DragConfigMapper">

    <resultMap type="com.bairock.iot.hamalib.data.DragConfig" id="dragConfigMap">
        <result column="dev_group_id" property="devGroupId"/>
        <result column="drag_view_background_image_path" property="dragViewBackgroundImagePath"/>
        <result column="drag_background_width" property="dragBackgroundWidth"/>
        <result column="drag_background_height" property="dragBackgroundHeight"/>
        <result column="show_device_name" property="showDeviceName"/>
        <result column="show_device_icon" property="showDeviceIcon"/>
    </resultMap>

    <insert id="insert" parameterType="com.bairock.iot.hamalib.data.DragConfig">
        insert into drag_device (
        dev_group_id,
        drag_view_background_image_path,
        drag_background_width,
        drag_background_height,
        show_device_name,
        show_device_icon
        )
        values (
        #{devGroupId},
        #{dragViewBackgroundImagePath},
        #{dragBackgroundWidth},
        #{dragBackgroundHeight},
        #{showDeviceName},
        #{showDeviceIcon}
        )
    </insert>

    <select id="findByDeviceId" resultMap="dragDeviceMap">
        SELECT * FROM drag_device
        WHERE device_id = #{deviceId}
    </select>

    <update id="update">
        UPDATE drag_device
        SET
        layoutx = #{layoutx},
        layouty = #{layouty},
        image_type = #{imageType},
        image_name = #{imageName},
        image_width = #{imageWidth},
        image_height = #{imageHeight},
        rotate = #{rotate}
        WHERE
        id = #{id}
    </update>

    <delete id="deleteByDeviceId">
        DELETE FROM drag_device
        WHERE
        device_id = #{deviceId}
    </delete>
</mapper>