<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--这个配置使全局的映射器(二级缓存)启用或禁用缓存-->
<!--        <setting name="cacheEnabled" value="true" />-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.bairock.iot.hamalib.device"/>
        <package name="com.bairock.iot.hamalib.data"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler
                handler="org.apache.ibatis.type.EnumTypeHandler"
                javaType="com.bairock.iot.hamalib.device.Gear"/>
        <typeHandler
                handler="org.apache.ibatis.type.EnumTypeHandler"
                javaType="com.bairock.iot.hamalib.device.CtrlModel"/>
        <typeHandler
                handler="org.apache.ibatis.type.EnumTypeHandler"
                javaType="com.bairock.iot.hamalib.device.devcollect.CollectSignalSource"/>
    </typeHandlers>
</configuration>